<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseMapper">
    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.xuecheng.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>
    <select id="findCourseListPage"
            parameterType="com.xuecheng.framework.domain.course.request.CourseListRequest"
            resultType="com.xuecheng.framework.domain.course.ext.CourseInfo">
        SELECT
            course_base.id id,
            course_base.name,
            course_base.users,
            course_base.mt,
            course_base.st,
            course_base.grade,
            course_base.studymodel,
            course_base.teachmode,
            course_base.description,
            course_base.status,
            course_base.company_id companyId,
            course_base.user_id userId,
            pic.pic
        FROM
            course_base
        LEFT JOIN
            course_pic pic
        ON
            course_base.id = pic.courseid
        where
            1 = 1
        <if test="companyId != null and companyId != ''">
            and company_id = #{companyId}
        </if>
    </select>
</mapper>